/* Fonts */
html{
	font-size: 100%;	
}

body{
	font: 0.75em/1.25em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff;
}

pre, code{
	font: 1em/1.5em Monaco,"Courier New", Tahoma;
}

dt{
	font-size: 1.2em;
}

input, select, textarea{
	font-size: 100%;
}

h1{
	font: 3em/1em Arial, Helvetica, sans-serif;
}

h2{
	font: 1.5em/1.3em Arial, Helvetica, sans-serif;	
}

h3{
	font: bold 1.2em/1em Arial, Helvetica, sans-serif;	
}

/* Tag-specific */
html, body, form, fieldset, li, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, input{
	margin: 0;
	padding: 0;
}

dl, p, ul, ol{
	margin: 0 0 1em;
	padding: 0;
}


a{
	color: #3a5483;
}

a:hover{
	color: #fff;
	background: #b85f3c;
}

body{
	background: #fff;
}

blockquote{
	background: #ffffa2;
	margin: 1em;
	padding: 1em;
}

dd{
	margin-bottom: 1.5em;
}

dt{
	font-weight: bold;
	margin-bottom: 0.5em;
}

h1{
	margin-bottom: 0.5em;
}

h2{
	margin: 1em 0;
}

form label{
	cursor: pointer;
}

img{
	border: none;
}

input{
	vertical-align: middle;
}

pre{
	width: 100%;
	overflow: auto;
}

/* General */
div#container{
	width: 65em;
	margin: 0 auto;
}

div#footer{
	clear: left;
	width: 100%;
	border-top: 1px solid #000;
	margin: 2em 0;
	padding: 0.5em;
}

div#inner-container{
	float: left;
	width: 100%;
	margin: 2em auto;
}

div#main-content{
	float: left;
	width: 40em;
}

div#main-content ul{
	margin: 1em 0 1em 3em;
}

div#navigation{
	float: right;
	width: 20em;
	background: #b85f3c;
	padding: 1em;
	color: #fff;
}

div#navigation a{
	display: block;
	width: 99%;
	color: #fff;
	padding: 0.25em;
}

div#navigation a.selected{
	font-weight: bold;
	color: #b85f3c;
	background: #fff;
}

div#navigation a:hover{
	color: #b85f3c;
	background: #fff;
}

div#navigation p{
	margin-top: 1em;
}

div#navigation ul{
	display: block;
	clear: left;
	list-style: none;
	margin: 0.5em 0 1.5em;
}

div#navigation ul li{
	line-height: 1.5em
}

div#navigation ul.gallery-links a{
	display: inline;
}

img.example-image{
	display: block;
	margin: 1em auto;
}